header {
text-align: center;
}

header hr {
    margin-bottom: 0;
    border-color: rgb(210, 156, 30);
}

header p {
    background-color: blanchedalmond;
    color: rgb(0, 104, 104);
    padding: 1em;
    margin: 0;
}

main {
    width: fit-content;
    margin: 0 auto;
}

p .image-author {
    color: grey;
    text-align: center;
}
